{% block head %}
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>UntilTheDay's Blog</title>

<!-- CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/clean-blog.min.css') }}">
<!--END CSS-->

<!-- FONTS -->
<link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<!--END FONTS-->
{% endblock %}

<!--NAV-->
{% block nav %}
{% include '_nav.html' %}
{% include '_header.html' %}
{% endblock %}
<!--END NAV-->

<!--BODY-->
{% block content %}

{% endblock %}
<!--END BODY-->

<!--FOOTER-->
{% block footer %}
<footer>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="copyright text-muted">Copyright &copy; Anonymous Website 2018</p>
        </div>
    </div>
</div>
</footer>
{% endblock %}
<!--END FOOTER-->

<!--JS-->
{% block scripts %}
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/clean-blog.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/marked.js') }}"></script>
{% endblock %}
<!--END-->
