{% extends 'base.html' %}

{% block content %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col-md-8" style="text-align: right"><h6>按标签筛选:</h6></div>
        <div class="col-md-4" style="margin-bottom: 40px;">
            <select class='custom-select' id="taglist" onchange="change();">
                <option value="all">全部</option>
                {% for tag in tags %}
                    <option value="{{ tag.tag_name }}">{{ tag.tag_name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h4>BlogList</h4>
            <div id="article_list" style="margin-top: 30px">
                {% include "list_by_date.html" %}
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
function change() {
    var tag = $("#taglist").find("option:selected").text();
    var data = {"tag":tag};
    $.ajax({
        type: 'POST',
        url: "{{ url_for('blog.list_by_tag') }}",
        data: JSON.stringify(data),
        contentType: 'application/json; charset=UTF-8',
        dataType: 'html',
        success:function (data) {
            $("#article_list").html(data);
        },
        error:function (data) {
            alert("Failed");
        }
    });
}
</script>    
{% endblock %}
