{% for article in articles %}
    <div class="post-preview">
        <a class="post-meta" href="{{ url_for("blog.article_detail", article_id=article.id) }}">
            <p>{{ article.post_time.date()|string + "   "  + article.title }}</p>
        </a>
        <div class="row">
        &nbsp;&nbsp;&nbsp;
        {% for tag in article.tag.split(';') %}
            <h6><span class="badge badge-info">{{ tag }}</span></h6>&nbsp;
        {% endfor %}
        </div>
    </div>
{% endfor %}
