<div style="margin-bottom: 40px">
    {% if tag_name != "全部" %}
    <h4><span class="badge badge-pill badge-dark">{{ tag_name }}</span></h4><hr>
    {% endif %}
    {% for article in articles %}
        <div class="post-preview">
            <a class="post-meta" href="{{ url_for("blog.article_detail", article_id=article.id) }}">
                <p>{{ article.post_time.date()|string + "   "  + article.title }}</p>
            </a>
        </div>
        <div class="row">
        &nbsp;&nbsp;&nbsp;
        {% for tag in article.tag.split(';') %}
            <h6><span class="badge badge-pill badge-info">{{ tag }}</span></h6>&nbsp;
        {% endfor %}
        </div>
    {% endfor %}
</div>
